/* Brand */
/*:root {
  --brand-main-gold: #BB9046;
  --brand-main-grey: #e7e7e8;
}*/

/* Global */
* {
  margin: 0;
  padding: 0;
  clear: both;
  font-family: sans-serif;
  outline: none !important;
}

.cordova-hook{
  display: none;
}

.btn-center{
  text-align: center;
}

.calendar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(128, 128, 128, 0.5);
}
.mat-calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  display: block;
  margin: auto;
  background-color: white;
  padding: 10px;
}

.top-content {
  padding: 10px;
  border-bottom: 2px solid #2d2d2d;
  height: 60px;
}

.line-break *{
  display: inline-block;
}
