<section id="app-suggestions">
  <h1>Places Of Interest</h1>
  <h2>Based on your frequesnt locations.</h2>
  <div id="no-data" *ngIf="noData">
    <h3>No Suggestions Yet!</h3>
    <p>Suggestions will appear once there is enough data to analyize.</p>
    <p>For now, keep doing what you're doing! The cool stuff will come later.</p>
  </div>
  <div *ngFor="let s of suggestions">
    <div class="suggestion">
      <div class="suggestion-image" [ngStyle]="{'background-image': 'url(' + s.photo + ')'}"></div>
      <div class="suggestion-info">
        <p class="suggestion-name">{{s.name}}</p>
        <p class="suggestion-distance">Distance: {{(s.distance / 1000).toFixed(2)}}km</p>
        <p class="suggestion-rating">Rating: {{s.rating}}/5</p>
        <p class="suggestion-types">Types: {{s.typesString}}</p>
      </div>
    </div>
  </div>
</section>
