<section id="app-timeline">
  <div class="top-content" *ngIf="!isLiveTracking">
    <h2>{{selectedDay.date}}</h2>
    <fa-icon [icon]="['far', 'calendar-alt']" (click)="toggleCalendar($event)" class="calendar-icon"></fa-icon>
    <div class="calendar-container" [hidden]="!showCalendar" (click)="toggleCalendar($event)">
      <h3 *ngIf="selectedDay.dateMsg != ''">{{selectedDay.dateMsg}}</h3>
      <mat-calendar (selectedChange)="onCalendarSelectedChange($event)"></mat-calendar>
    </div>
  </div>
  <div class="top-content text-right" *ngIf="isLiveTracking">
    <fa-icon [icon]="['fas', 'chevron-left']" (click)="exitLiveTracking()" class="back-icon"></fa-icon>
    <h2>Live Tracking</h2>
  </div>
  <div *ngIf="map.options.loaded"
       leaflet
       [leafletOptions]="map.options"
       [leafletFitBounds]="map.fitBounds"
       [(leafletZoom)]="map.zoom"
       [(leafletCenter)]="map.center"
       (leafletMapReady)="onMapReady($event)">
  </div>
  <p id="last-update" [ngStyle]="{'opacity': lastUpdate.opacity}">Updated with {{lastUpdate.numberOfPoints}} new point{{lastUpdate.plural}}.</p>
  <fa-icon [icon]="['fas', 'car']" *ngIf="!isLiveTracking" (click)="enterLiveTracking()" class="live-tracking-icon"></fa-icon>
</section>
